{% assign img_path = page.ref | prepend: "/assets/images/posts/" | append: "/" | append: include.src %}
<figure {% if include.style %} style="{{ include.style }}" {% endif %}>
{% if include.url %}
  <a href="{{ include.url }}">
{% endif %}
<img src="{{ img_path }}" {% if include.caption %} alt="{{ include.caption }}" {% endif %}/>
{% if include.url %}
</a>
{% endif %}
{% if include.caption %}
  {% if counter == nil %}
    {% assign counter = 1 %}
  {% endif %}
  <figcaption> <b>Figure {{ counter }}.</b> {{ include.caption | markdownify | remove: "<p>" | remove: "</p>" }} </figcaption>
  {% assign counter = counter | plus: 1 %}
{% endif %}
</figure>
