---
---

@import index, font, basic, layout, classes

html
  background: lighten($dark, 70%)
  padding: 0 calc(33% - 22em)

body
  box-shadow: 0 0 .3em lighten($dark, 65%)

body > header, body > footer
  background: lighten($dark, 5%)
  color: $light

header
  font-size: 1.2em

footer
  font-size: 1em

@media (prefers-color-scheme: dark)
  body, body > header, body > footer
    box-shadow: 0 0 0 1px lighten($dark, 8%)
  html, body > header, body > footer
    background: $dark
