---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  {% if page.layout == "post" and page.comments != false %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}
      {% include disqus_comments.html %}
    {% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
